@model IEnumerable<AppUserViewModel>

@{
    string title = "User Control Panel";
    ViewData["Title"] = title;
}

<h1>@title</h1>

<div id="getTokenButton" class="btn btn-primary">Get new registration token</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedDevices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Email)
            </th>
            <th>
                @foreach (string device in item.ApprovedDevices) {
                    @device <br>
                }
            </th>
            <th>
                @foreach (string role in item.Roles) {
                    @role <br>
                }
            </th>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
	const url = "/Users/GetRegistrationCode"

	$(document).ready(function() {
	    $('#getTokenButton').click(function() {
		sendTokenRequest();
	    });
	});

	function sendTokenRequest() {
	    $.ajax({
		type: "GET",
		url: url,
		contentType: "application/json",
		success: function(response) {
		    console.log("success");
		},
		error: function(xhr, textStatus, errorThrown) {
		    console.log("error");
		}
	    });
	}
    </script>
}
