@model ModifyRoleViewModel

@{
ViewData["Title"] = "Details";
AppUserViewModel appUser = Model.AppUserViewModel;
}

<h1>Individual User Control</h1>

<div>
    <h2 class="fw-bold">@appUser.Email</h2>
    <hr />
</div>
<div id="roleButtonSection">
    @foreach(string role in Model.AllRoles){
        @if(appUser.Roles.Contains(role)) {
            <div id="@role" class="removeRoleButton roleButton btn btn-danger" >Remove role: @role</div>
        } else {
            <div id="@role" class="addRoleButton roleButton btn btn-primary" >Add role: @role</div>
        }
    }
</div>
<div id="deleteUserButton" class="btn btn-danger">Delete user</div>
<br>
<a asp-action="Index">Back to List</a>

<p>User Id: @appUser.Id</p>

@section scripts {
    <script>
        const userId = "@appUser.Id";

        const baseUrl = "/Users";

	const deleteUrl = baseUrl + "/DeleteUser";

        function updateButtonClass(id) {
            const button = $(`#${id}`);
            button.toggleClass(["btn-primary", "btn-danger"])
            if(button.hasClass("removeRoleButton")) {
                button.html(`Add role: ${id}`);
            } else {
                button.html(`Remove role: ${id}`);
            }
            button.toggleClass(["removeRoleButton", "addRoleButton"])
        }

        function sendRoleChangeRequest(url, event) {
            const buttonId = event.target.id;
            const UserRoleDataInputModel = {
                Id: userId,
                Role: buttonId
            };

            $.ajax({
                type: "PUT",
                url: url,
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(UserRoleDataInputModel),
                success: function(response) {
                    if(response.status === "success") {
                        updateButtonClass(buttonId);
                    } else {
                        alert(`Error changing role. message: ${response.message}`);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                        alert("error sending put request.");
                }
            });
        }

	function sendDeleteRequest(url) {
	    $.ajax({
		type: "DELETE",
		url: url,
		contentType: "application/json",
		dataType: "json",
		data: JSON.stringify(userId),
		success: function(response) {
		    if(response.status === "success") {
			window.location.href = response.url;
		    } else {
			alert(`error: ${response.message}`);
		    }
		},
		error: function(xhr, textStatus, errorThrown) {
		    console.log("error sending delete request.");
		}
	    });
	}

        $(document).ready(function() {
            $(".roleButton").click(function(event) {
                var button = $(`#${event.target.id}`);
                const url = button.hasClass("addRoleButton") ? baseUrl + "/AddRoleToUser" : baseUrl + "/RemoveRoleFromUser";
                sendRoleChangeRequest(url, event);
            });
	    $("#deleteUserButton").click(function() {
		sendDeleteRequest(deleteUrl);
	    });
        });
    </script>
}
